.toast-message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}
.toast-success {
    color: var(--color-green-primary);
}

.toast-error {
    color: var(--color-dark-red);

}

.toast-info {
    color: var(--color-dark-blue);

}

.toast-warning {
    color: var(--color-orange);

}