.activity-item {
    display: flex;
    width: 100%;
    align-items: start;
    flex-direction: column;
}

.activity-content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.activity-time-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.content {
    font-size: 1rem;
    color: #6A7282;
}